.order-car{
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .3s ease;
}

.order-car_active,
.order-car:hover{
    opacity: 1;
}

.order-car__name{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.order-car__cost-title{
    font-size: 11px;
    line-height: 13px;
    color: var(--color-text-secondary);
}

.order-car__cost{
    margin-top: -3px;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 13px;
}

.order-car__image{
    height: 75px;
    object-fit: contain;
}